<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="../static/login.css">
</head>
<body>
    <div class="login-box">
        <input type="email" placeholder="Enter gmail account">

        <div class="password-wrapper">
            <input type="password" id="password" placeholder="Enter password">
            <span id="toggleBtn" onclick="togglePassword()">Show</span>
        </div>

        <button>Login</button>
        <div class="links">
            <a href="#">Forgot password?</a>
            <a href="#">Create account</a>
        </div>
    </div>
    <script>
        function togglePassword() {
            const passwordField = document.getElementById('password')
            const toggleBtn = document.getElementById('toggleBtn')

            if (passwordField.type === 'password') {
                passwordField.type ='text';
                toggleBtn.textContent = 'Hide';
            } else {
                passwordField.type = 'password';
                toggleBtn.textContent = 'Show';
            }
        }
    </script>
</body>
</html>